/* General Styles */
body {
    font-family: Arial, sans-serif;
    line-height: 1.6;
    margin: 0;
    padding: 0;
    background-color: #f4f4f9;
    color: #333;
}

/* Header Styles */
header {
    background-color:  #173772;
    color: white;
    padding: 20px 0;
    text-align: center;
}

header h1 {
    margin: 0;
    font-size: 2.5em;
}

/* Navigation Styles */
nav {
    background-color: #333;
    color: white;
}

nav ul {
    list-style: none;
    margin: 0;
    padding: 0;
    display: flex;
    justify-content: center;
}

nav ul li {
    margin: 0 15px;
}

nav ul li a {
    color: white;
    text-decoration: none;
    font-weight: bold;
}

nav ul li a:hover {
    text-decoration: underline;
}

/* Main Content Styles */
main {
    padding: 20px;
}

main h2 {
    color:  #173772;
    border-bottom: 2px solid  #173772;
    padding-bottom: 5px;
}

main p {
    margin-bottom: 20px;
}

/* Ordered List Styles */
ol {
    margin-left: 20px;
}

/* Image Section Styles */
section img {
    display: block;
    margin: 20px auto;
    border: 5px solid #ddd;
    border-radius: 10px;
}

/* Table Styles */
table {
    width: 100%;
    border-collapse: collapse;
    margin: 20px 0;
}

table th, table td {
    border: 1px solid #ddd;
    padding: 10px;
    text-align: left;
}

table th {
    background-color:  #173772;
    color: white;
}

table tr:nth-child(even) {
    background-color: #f9f9f9;
}

table tr:hover {
    background-color: #f1f1f1;
}

/* Form Styles */
form {
    max-width: 600px;
    margin: 20px auto;
    padding: 20px;
    background-color: #fff;
    border: 1px solid #ddd;
    border-radius: 10px;
}

form label {
    display: block;
    margin-bottom: 5px;
    font-weight: bold;
}

form input, form select, form button {
    width: 100%;
    padding: 10px;
    margin-bottom: 15px;
    border: 1px solid #ddd;
    border-radius: 5px;
}

form input[type="radio"], form input[type="checkbox"] {
    width: auto;
    margin-right: 5px;
}

form button {
    background-color:  #173772;
    color: white;
    border: none;
    cursor: pointer;
}

form button:hover {
    background-color:  #173772;
}

/* Footer Styles */
footer {
    background-color: #333;
    color: white;
    text-align: center;
    padding: 10px 0;
    margin-top: 20px;
}

footer a {
    color: #173772;
    text-decoration: none;
}

footer a:hover {
    text-decoration: underline;
}